#popup-container {
    display: grid;
    place-content: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 20px;
    left: 0;
    animation-name: fade_up;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#popup {
    padding-left: 17px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: var(--second_bkg);
    box-shadow: var(--default_shadow);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

#popup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: white;
}

#popup.red::before {
    background-color: red;
}

#popup.green::before {
    background-color: green;
}


#popup .message {
    margin-bottom: 0px;
    font-weight: 300;
}

#popup .close {
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

#popup .close:hover {
    cursor: pointer;
}

@keyframes fade_up {
    from {
        bottom: 0px;
        opacity: 0;
    }
    to {
        bottom: 20px;
        opacity: 1;
    }
}