#course_page .search_bar input,
#course_page .search_bar input {
    background: var(--third_bkg);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    border: none;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 300px;
    box-shadow: var(--default_shadow);
}

#course_page .search_bar .my_input * {
    border: none;
}

#course_page .search_bar .my_input {
    border-bottom: 2px solid var(--details_color);
    border-radius: 0px;
}

#course_page .search_bar input::placeholder,
#course_page .search_bar input::placeholder {
    color: var(--details_color);
}

#course_page .categories_container {
    width: fit-content;
    max-width: 55%;
}

#course_page .categories_container .my_chip {
    background: var(--details_color);
    box-shadow: var(--default_shadow);
    opacity: 0.5;
    transition: 0.3;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--main_color);
}

#course_page .categories_container .my_chip.selected {
    opacity: 1;
    transition: 0.3;

}