#premium_alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  text-align: center;
  padding: 40px;
  background-color: black;
}

#premium_alert .content {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  background-color: var(--details_color);
  background: rgb(255,102,0);
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, var(--details_color), #e73c7e );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  border-radius: 20px;
  position: relative;

}

#premium_alert .content .close_icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  right: 40px;
}

#premium_alert .button {
  background-color: var(--third_bkg);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}